{% extends 'layout.html' %}
{%block content%}


<!-- PAGE CONTAINER-->
        <div class="page-container">
             <!--END SEARCH SECTION--> 
             <!-- MAIN CONTENT-->
             <div class="main-content">
                 <div class="section__content section__content--p30">
                     <div class="container-fluid">
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <img style="margin-left: 40%; margin-bottom: 10%;" src="https://img.collegepravesh.com/2017/02/PICT-Logo.jpg" alt="">
                                </div>
                            </div>
                        </div> -->
                         <div class="row">
                             <div class="col-md-12">
                                 <div class="overview-wrap">
                                     <h2 class="title-1">Project aim</h2>
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-sm-6 col-lg-12">
                                 <div class="overview-item overview-item--c1">
                                     <div class="overview__inner">
                                         <div class="overview-box clearfix">
                                             <div class="text">
                                                 <span>It aims towards providing user a means to undertake an informed decision of which stocks should they invest in. 
                                                    Although stock market is fickle, investor can overcome the skepticism about the right stock by gaining its past 
                                                    information and roughly analyzing its future.Our project aims to reduce this 
                                                    labour by analyzing and predicting the future os a stock. In other words the knowledge of whether a stock goes up or down is just one click away.
                                                     </span>
                                             </div>
                                         </div>
     
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Project Functionalities</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-sm-6 col-lg-12">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                                <span><ul>
                                                    <li>
                                                        <p><h5>DASHBOARD: </h5> It allows user to search for a NASDAQ/NSE stock and view the recent trends of the stock along with the OCHLV indicators.</p>
                                                    </li>
                                                    <li>
                                                        <p><h5>PREDICT THE FUTURE: </h5> User can view the closing value of a desired/searched NASDAQ/NSE stock for the next 7 days and  visualize the model accuracy.</p>
                                                    </li>
                                                    <li>
                                                        <p><h5>NEWS AND TWEETS SENTIMENT: </h5> User gets the current news and tweets about a desired stock in just one click. Also, the model provides user with the overall sentiment of a given stock based on tweets, to allow him/her to make an informed decision.</p>
                                                    </li>
                                                    <li>
                                                        <p><h5>KNOW MORE ABOUT STOCKS: </h5> A novice user with a little or no knowledge about stock market and stocks in general can refer info provided here to get a clear idea.</p>
                                                    </li>
                                                    <li>
                                                        <p><h5>VIEW LIVE STOCKS: </h5> It allows user to visualize the NASDAQ/NSE stocks updated to the recent 5 or more seconds.</p>
                                                    </li>
                                                    <li>
                                                        <p><h5>ABOUT US: </h5> All project and creator information is provided here.</p>
                                                    </li>
                                                </ul></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Contact Us</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-12">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                                <span><ul>
                                                    <li>
                                                        <p><h6>Abdul Dalvi: </h6> mueed.dalvi@gmail.com</p>
                                                    </li>
                                                    <li>
                                                        <p><h6>Aditi Kukde: </h6> aditikukde123@gmail.com</p>
                                                    </li>
                                                    <li>
                                                        <p><h6>Virendra Chandel: </h6> virendrachandel@gmail.com</p> 
                                                    </li>
                                                    <li>
                                                        <p><h6>Aniket Pandey: </h6> aniketpandey@gmail.com</p>
                                                    </li>
                                                </ul>
                                                    </span>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                       </div>
                        
 
                             
                         </div>
                     </div>
                 </div>
             </div>
             <!-- END MAIN CONTENT-->
             <!-- END PAGE CONTAINER-->
         </div>
 
     </div>

{%endblock content%}