{% extends 'layout.html' %}
{%block content%}

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <div class="main-content">
                <div class="container_card">
                    <div class="property-card">
                        <a href="https://www.nerdwallet.com/article/investing/what-is-the-stock-market">
                          <div class="property-image">
                            <div class="property-image-title">
                                <h5 style="color: cornsilk;">What is Stock Market?</h5> 
                              </div>
                          </div></a>
                        <div class="property-description">
                          <h3> What is Stock Market? </h3>
                          <p style="color: chocolate;">The stock market is where investors connect to buy and sell investments</p>
                        </div>
                        <a href="#">
                          <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                          </div>
                        </a>
                    </div>
            
                    <div class="property-card">
                        <a href="https://smartasset.com/investing/how-does-the-stock-market-work">
                          <div class="property-image">
                            <div class="property-image-title">
                              <h5 style="color: cornsilk;">How does stock market work?</h5> 
                            </div>
                          </div></a>
                        <div class="property-description">
                          <h3> Functioning of stock market? </h3>
                          <p style="color: chocolate;">The price of a stock fluctuates according to supply and demand, investor confidence...</p>
                        </div>
                        <a href="#">
                          <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                          </div>
                        </a>
                    </div>

                    <div class="property-card">
                        <a href="https://www.wealthify.com/blog/is-it-risky-to-invest-in-the-stock-market">
                          <div class="property-image">
                            <div class="property-image-title">
                              <h5 style="color: cornsilk;">Is investing in stocks risky?</h5>
                            </div>
                          </div></a>
                        <div class="property-description">
                          <h3> Should you invest in stocks? </h3>
                          <p style="color: chocolate;">When you invest in the stock market, your returns aren’t guaranteed </p>
                        </div>
                        <a href="#">
                          <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                          </div>
                        </a>
                    </div>
                </div>
<br>
<br>
                <div class="container_card">
                    <div class="property-card">
                        <a href="https://www.nerdwallet.com/article/investing/how-to-invest-in-stocks">
                          <div class="property-image">
                            <div class="property-image-title">
                             <h5 style="color: cornsilk;">How to invest in stocks?</h5>
                            </div>
                          </div></a>
                        <div class="property-description">
                          <h3>How to invest in stocks?</h3>
                          <p style="color: chocolate;">Investing in stocks is easier than beginners might think — all you need is an online brokerage account to get started.</p>
                        </div>
                        <a href="#">
                          <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                          </div>
                        </a>
                    </div>
            
                    <div class="property-card">
                        <a href="https://www.fool.com/investing/stock-market/types-of-stocks/growth-stocks/">
                          <div class="property-image">
                            <div class="property-image-title">
                              <h5 style="color: cornsilk;">Top Stocks of 2021</h5>
                            </div>
                          </div></a>
                        <div class="property-description">
                          <h3> Fastest growing stocks of 2021</h3>
                          <p style="color: chocolate;">To provide you with some examples, here are 10 excellent growth stocks available in the stock market today:</p>
                        </div>
                        <a href="#">
                          <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                          </div>
                        </a>
                    </div>

                    <div class="property-card">
                        <a href="https://www.binance.com/ph/blog/421499824684901726/Is-crypto-is-better-than-stocks-in-2021">
                          <div class="property-image">
                            <div class="property-image-title">
                              <h5 style="color: cornsilk;">Is Crypto better than stocks in 2021</h5>
                            </div>
                          </div></a>
                        <div class="property-description">
                          <h3> Crypto OR Stock? </h3>
                          <p style="color: chocolate;">Bitcoin is heading to one of the most significant years in its short history. After the price of bitcoin </p>
                        </div>
                        <a href="#">
                          <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                          </div>
                        </a>
                    </div>
                </div>
                        
                        
                
            </div>
        </div>
            
{%endblock content%}
